weekly-game-jam-64/.idea/.idea.weekly-game-jam-64/.idea/workspace.xml
weekly-game-jam-64/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
weekly-game-jam-64/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
weekly-game-jam-64/Assets/Plugins/Editor/JetBrains.meta
*.swp
weekly-game-jam-64/Assets/Plugins/Editor.meta
weekly-game-jam-64/.idea/.idea.weekly-game-jam-64/.idea/contentModel.xml
weekly-game-jam-64/.idea/.idea.weekly-game-jam-64/.idea/indexLayout.xml
weekly-game-jam-64/Assets/Audio/GJW64T.wav
build/
build-webgl/
